.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.page {
  padding: 2%;
  height: 100%;
}

.page h1 {
  margin-top: 0;
}


.page-1{
  background-color: #61DAFB;
}

.page-2{
  background-color: #e26a6a;
}

.main-content {
 height: calc(100% - 220px);
}

.right {
  float: right;
}


.controls {
  display: block;
  width: 100%;
  text-align: center;
}

.controls::before,
 .controls::after {
   content: " ";
   display: table;
 }
 .controls::after {
   clear: both;
 }

.controls > button {
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

 label {
  margin-right: 0.5em;
 }

 select {
  margin-right: 1.5em;
 }
